.example-block{

    padding: 8px 12px;
    margin-top:2px;
    margin-bottom: 10px;
    color: white;
    border-radius: 2px;
    background-color: #31363F;


}

pre {
    white-space: pre-wrap;  
    word-wrap: break-word;  
    overflow-x: auto;      
    padding: 10px;         
    border-radius: 2px; 
    color: white;
    background-color: #31363F;   
    margin-top:2px;
    margin-bottom: 10px
}

img{
    width: auto !important;
    height: auto !important;;
    margin-top:2px;
    margin-bottom: 10px
}